/PROGRAMACION ll/tps/tp1/calculadora _ejercicio 1/calculadora/nbproject/private/
/PROGRAMACION ll/tps/tp1/calculadora _ejercicio 1/calculadora/build/
/PROGRAMACION ll/tps/tp1/autos_ejercicio 2/Autos/target/
/PROGRAMACION ll/tps/tp1/autos_ejercicio 2/Rectangulos/target/
/PROGRAMACION ll/proyecto herencia/proyFiguraTermiando/ProyGeometria/nbproject/private/
/PROGRAMACION ll/tps/tp1/ejercicio_5/main_vehiculos/target/
/PROGRAMACION ll/proyecto herencia/proyFiguraTermiando/ProyGeometria/build/
/PROGRAMACION ll/tps/tp1/ejercicio_6/Main_gestion_facultad/target/
/PROGRAMACION ll/tps/tp1/ejercicio_7/Main_inmobiliaria/target/
