/PROGRAMACION ll/tps/tp1/calculadora _ejercicio 1/calculadora/nbproject/private/
/PROGRAMACION ll/tps/tp1/calculadora _ejercicio 1/calculadora/build/
/PROGRAMACION ll/tps/tp1/autos_ejercicio 2/Autos/target/
/PROGRAMACION ll/tps/tp1/autos_ejercicio 2/Rectangulos/target/
/PROGRAMACION ll/proyecto herencia/proyFiguraTermiando/ProyGeometria/nbproject/private/
/PROGRAMACION ll/tps/tp1/ejercicio_5/main_vehiculos/target/
/PROGRAMACION ll/proyecto herencia/proyFiguraTermiando/ProyGeometria/build/
/PROGRAMACION ll/tps/tp1/ejercicio_6/Main_gestion_facultad/target/
/PROGRAMACION ll/tps/tp1/ejercicio_7/Main_inmobiliaria/target/
/PROGRAMACION ll/tps/tp1/ejercicio_7/autos_repaso/target/
/PROGRAMACION ll/parcial 1 Tomas Paoletti/Pacial1Programacion/nbproject/private/
/PROGRAMACION ll/tps/tp2/PRG2_TP2Ej1-ejemplo1/PRG2_TP2Ej1-ejemplo1/nbproject/private/
/PROGRAMACION ll/tps/tp2/PRG2_TP2Ej1-ejemplo1/PRG2_TP2Ej1-ejemplo1/build/
/PROGRAMACION ll/tps/tp2/TP2_EJ2/nbproject/private/
/PROGRAMACION ll/tps/tp2/TP2_EJ2/build/
/PROGRAMACION ll/tps/tp2/TP2_EJ3/nbproject/private/
/PROGRAMACION ll/tps/tp2/PRG2_TP2Ej1-ejemplo1/TP2_EJ1/nbproject/private/
/Segundo año/Sistema de comunicaciones/TP1